@font-face {
    src: url("../fonts/NunitoSans-Regular.ttf");
    font-family:"NunitoSans";
}

@font-face {
    src: url("../fonts/YesevaOne-Regular.ttf");
    font-family:"YesevaOne";
}


body {
    background: #131313;
    padding: 0 calc(50% - 690px);
    
   
}

header {
    display: flex;
    justify-content:space-evenly;
    height: 83px;
    1padding: 0 calc(50% - 690px);
    align-items: center;
   
   
}
.logo{
    font-family: NunitoSans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}

.button1 {
    width: 161px;
    height: 37px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
}

.headnav1{
    font-family: NunitoSans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;  
    display: inline;

}
.headnav1 li {
    padding: 37px;
    display: inline;
    text-transform: uppercase;
    
}

.section1,h1,p {
    color: #FFFFFF;

}
.section1 {
    height: 707px;
    background-image: url("../img/img1.jpg");
    
}

.darklayer{
    height: 707px;
    background-color:rgba(0,0,0,.65);
    display: block;
}

.gridwrapper1 {
    width: 27vw;
    padding-top: 7vw;
    padding-left: 5vw;
    display: grid;
    grid-template-areas:
    "A A A A A A"
    "B B B B B B"
    "C C C D D D";
    gap: 1px;
    
  
    
}

.button2-1{
    grid-area: C;
    background: #E3B873;
    border: 0;
}
.button2-2{
    grid-area: D;
    background-color:transparent;
    border: white;
    border-style: solid;
    border-width: 1px;

    
    
}
.gridwrapper1 h1 {
    grid-area: A;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    margin: 0;
    font-family: YesevaOne;
}
.gridwrapper1 p {
    grid-area: B;
    font-size: 22px;
    line-height: 36px;
    font-family: NunitoSans;
}
.gridwrapper1 .rnd {
    
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #E3B873;
    
}   
    

   

.button2{
    width: 207px;
    height: 51px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    color: white;
    font-family: NunitoSans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    
    
}
.section2 {
    height: 1074px;
    background-color: tomato;
    display: flex;

}
.wrapper2 {
    background-color: turquoise;
    width: 27vw;
    padding-top: 7vw;
    padding-left: 5vw;
    display: grid;
}


/*-------------поправить классы!!!!!!!!!!! ------*/
.item-1 {
    background-color: rgb(161, 48, 48);
    grid-column: span 2;
}

.item-2 {
    background-color: rgb(49, 163, 68);
    grid-column: span 2;
}

.item-3 {
    background-color: rgb(34, 32, 180);
}

.item-4 {
    background-color: rgb(207, 219, 29);
}

.item-5 {
    background-color: rgb(175, 52, 165);
    }

.item-6 {
        background-color: rgb(66, 204, 11); 
}
.item-7 {
    background-color: rgb(63, 10, 59);
    }
.item-8 {
    background-color: rgb(34, 105, 199);
} 
.item-9 {
    background-color: rgb(207, 219, 29);
}
.item-10 {
    background-color: rgb(30, 155, 41);
    grid-column: span 3;
}
.nav2 {
    display: flex;
    list-style: none;
}

.nav2_item{ 
    margin-left: 60px;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: repeat(6, 100px);
}
.wrapper2-2 {
    padding-top: 7vw;
    background-color: yellowgreen;
    width: 35vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 100px);
}