@font-face {
    src: url("../fonts/NunitoSans-Regular.ttf");
    font-family:"NunitoSans";
}

@font-face {
    src: url("../fonts/YesevaOne-Regular.ttf");
    font-family:"YesevaOne";
}


body {
    
    padding: 0 calc(50% - 690px);
    
}

header {
    display: flex;
    justify-content:space-evenly;
    height: 83px;
    1padding: 0 calc(50% - 690px);
    align-items: center;
    background: black;
}

.logo{
    font-family: NunitoSans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}

.button {
    background: #E3B873;
    border-radius: 2px;
    border: 0;
    color: white;
    font-family: NunitoSans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    border: 0;
    text-transform: uppercase;
}

.button:hover {
    cursor: pointer;
}

.tel{
    color: #E3B873; 
    font-family: NunitoSans;
    text-decoration-line: underline;   
}
.button1 {
    width: 161px;
    height: 37px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    
    
}

.button2:hover {
    background-color:transparent;
    transition: 0.22s;
    border: white;
    border-style: solid;
    border-width: 1px;
    
}

.headnav1 {
    font-family: NunitoSans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;  
    1display: inline;
    

}
.headnav1 li {
    padding: 35px;
    display: inline;
    text-transform: uppercase;
    color: #FFFFFF; 
    
}

.section1,h1,p,a {
    color: #FFFFFF;

}
.section1 {
    height: 707px;
    background-image: url("../img/img1.jpg");
    
}

.darklayer{
    height: 707px;
    background-color:rgba(0,0,0,.65);
    display: block;
}



.gridwrapper1 {
    width: 27vw;
    padding-top: 7vw;
    padding-left: 5vw;
    display: grid;
    grid-template-areas:
    "A A A A A A"
    "B B B B B B"
    "C C C D D D";
    gap: 1px;
    
  
    
}

.button2-1{
    grid-area: C;
   
}
.button2-2{
    grid-area: D;
    

    
    
}
.gridwrapper1 h1 {
    grid-area: A;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    margin: 0;
    font-family: YesevaOne;
}
.gridwrapper1 p {
    grid-area: B;
    font-size: 22px;
    line-height: 36px;
    font-family: NunitoSans;
}
.gridwrapper1 .rnd {
    
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #E3B873;
    
}   
    

   

.button2{
    width: 207px;
    height: 51px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  
}
.section2 {
    height: 1074px;
    background-color: black;
    display: flex;
   

}
.wrapper2 {
    /* ! background-color: turquoise;*/
    width: 27vw;
    padding-top: 7vw;
    padding-left: 5vw;
    display: grid;
}

.orange-text {
    color:#E3B873;
    font-family: YesevaOne;
}
.white-nunito{
    color:#FFFFFF;
    font-family: NunitoSans;
}

/*-------------поправить классы!!!!!!!!!!! ------*/
.item-1 {
    /*!background-color: rgb(161, 48, 48);*/
    grid-column: span 2;
    font-family: YesevaOne;
    font-size: 27px;

}

.item-2 {
    background-color: rgb(49, 163, 68);
    grid-column: span 2;
    font-family: NunitoSans;
    font-size: 14px;
}

.item-3 {
    background-color: rgb(34, 32, 180);
    

}

.item-4 {
    background-color: rgb(207, 219, 29);
}

.item-5 {
    background-color: rgb(175, 52, 165);
    }

.item-6 {
        background-color: rgb(66, 204, 11); 
}
.item-7 {
    background-color: rgb(63, 10, 59);
    grid-column: span 2;

    }

.item-9 {
    background-color: rgb(207, 219, 29);
}
.item-10 {
    background-color: rgb(30, 155, 41);
    grid-column: span 3;
    max-width: 35vw;
    padding-top: 2vw;
}

.item-11{
    padding-top: 3vw;
}
.nav2 {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 2vw;
    background-color: blueviolet;
    
    
    
}

.nav2_item{ 
    margin-right: 30px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    
    /*align-items: center;*/
}
.nav2_item:active{
    color: #E3B873;
    text-decoration: underline;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: repeat(6, 100px);
}
.wrapper2-2 {
    
    background-color: yellowgreen;
    width: 35vw;
    height: 1074px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 100px);
    

}
.img2 {
    width: 35vw;  
}
.section3{
    background-color: rgb(243, 222, 214);
    height: 1073px;
    1margin-top: -10vw;
    1justify-content: center;
   
    
}
.camera{
    
    background-color: cornflowerblue;
   
}
.wrapper3{
    display: flex;
    padding-top: 1vw;
    justify-content: center;
    align-items: center; 
    flex-flow: column;
    background-color: darkgray;
    align-content: center;
    
    
}
.text-sec3 {
    width: 680px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.camview {
    background-image: url("../img/camview.png");
    height: 434px;
    width: 812px;
}
.darklayer2{
    height: 434px;
    width: 812px;    
    background-color:rgba(0,0,0,.65);
    display: flex;
    justify-content: center;
    align-items: center;    
}    
.hr-line{
    margin-top: 2vw;
    width: 55px;
    height: 1.54px;
    background-color: #E3B873;
    
}
.good-chbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.good-chbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
.good-chbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .good-chbox:checked+label::before {
    border-color: #E3B873;;
    background-color: #E3B873;;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}


.good-chbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #f3e3ca;
  }
  /* стили для активного состояния чекбокса (при нажатии на него) */
.good-chbox:not(:disabled):active+label::before {
    background-color: #f3e3ca;
  }
  /* стили для чекбокса, находящегося в фокусе */
.good-chboxx:focus+label::before {
    box-shadow: 0 0 0 0.2rem #724702;
  }
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.good-chbox:focus:not(:checked)+label::before {
    border-color: #f3e3ca;
  }
  /* стили для чекбокса, находящегося в состоянии disabled */
.good-chbox:disabled+label::before {
    background-color: #e9ecef;
  }
input{
    opacity: 0;
    border-bottom: rgb(233, 11, 11);

}
.section4{
    background-color: rgb(46, 30, 187);
    height: 1073px;
}  

.repair{
  
  display: flex;
  align-items: center;
  flex-flow: column;
  
  
 }

 .repair-img{
    height: 421px;
    width: 392px; 
    padding: 30px;

 }

.wrapper4-1{
    display: flex;
    justify-content: center;
}
.list-wrap{
  height: 286px;
  width: 330px;
  background-color: white;
  margin-top: -8vw;
  
 
}